
.gradle/7.5.1/checksums/checksums.lock
.gradle/7.5.1/checksums/md5-checksums.bin
.gradle/7.5.1/checksums/sha1-checksums.bin
.gradle/7.5.1/dependencies-accessors/dependencies-accessors.lock
.gradle/7.5.1/dependencies-accessors/gc.properties
.gradle/7.5.1/executionHistory/executionHistory.bin
.gradle/7.5.1/executionHistory/executionHistory.lock
.gradle/7.5.1/fileChanges/last-build.bin
.gradle/7.5.1/fileHashes/fileHashes.bin
.gradle/7.5.1/fileHashes/fileHashes.lock
.gradle/7.5.1/fileHashes/resourceHashesCache.bin
.gradle/7.5.1/gc.properties
.gradle/buildOutputCleanup/buildOutputCleanup.lock
.gradle/buildOutputCleanup/cache.properties
.gradle/buildOutputCleanup/outputFiles.bin
.gradle/vcs-1/gc.properties
.idea/uiDesigner.xml
build/classes/java/main/io/github/paldiu/config/ConfigValues.class
build/classes/java/main/io/github/paldiu/config/YamlWrapper.class
build/classes/java/main/io/github/paldiu/CraftingListener.class
build/classes/java/main/io/github/paldiu/CraftingUtils.class
build/classes/java/main/io/github/paldiu/recipes/BarrierRecipe.class
build/classes/java/main/io/github/paldiu/recipes/BedrockRecipe.class
build/classes/java/main/io/github/paldiu/recipes/BellRecipe.class
build/classes/java/main/io/github/paldiu/recipes/Craftable.class
build/classes/java/main/io/github/paldiu/recipes/CryingObsidianRecipe.class
build/classes/java/main/io/github/paldiu/recipes/DragonEggRecipe.class
build/classes/java/main/io/github/paldiu/recipes/EggRecipes.class
build/classes/java/main/io/github/paldiu/recipes/ElytraRecipe.class
build/classes/java/main/io/github/paldiu/recipes/EndFrameRecipe.class
build/classes/java/main/io/github/paldiu/recipes/HorseArmorRecipe.class
build/classes/java/main/io/github/paldiu/recipes/MusicDiscRecipes.class
build/classes/java/main/io/github/paldiu/recipes/NameTagRecipe.class
build/classes/java/main/io/github/paldiu/recipes/NetherStarRecipe.class
build/classes/java/main/io/github/paldiu/recipes/NetherWartRecipe.class
build/classes/java/main/io/github/paldiu/recipes/SaddleRecipe.class
build/classes/java/main/io/github/paldiu/recipes/SpawnerRecipe.class
build/classes/java/main/io/github/paldiu/recipes/TotemRecipe.class
build/classes/java/main/io/github/paldiu/recipes/TridentRecipe.class
build/classes/java/main/io/github/paldiu/ReloadCMD.class
build/classes/java/main/io/github/paldiu/Uncraftables.class
build/classes/java/main/org/bstats/Metrics$1.class
build/classes/java/main/org/bstats/Metrics$AdvancedBarChart.class
build/classes/java/main/org/bstats/Metrics$AdvancedPie.class
build/classes/java/main/org/bstats/Metrics$CustomChart.class
build/classes/java/main/org/bstats/Metrics$DrilldownPie.class
build/classes/java/main/org/bstats/Metrics$MultiLineChart.class
build/classes/java/main/org/bstats/Metrics$SimpleBarChart.class
build/classes/java/main/org/bstats/Metrics$SimplePie.class
build/classes/java/main/org/bstats/Metrics$SingleLineChart.class
build/classes/java/main/org/bstats/Metrics.class
build/libs/Uncraftables-1.1.0.jar
build/libs/Uncraftables-1.2.0.jar
